:root {
  --bg-primary: #1a1a1a;
  --bg-secondary: #252525;
  --text-primary: #ffffff;
  --text-secondary: #e0e0e0;
  --accent: hsl(245 83% 65%);
  --accent-hover: hsl(245 70% 75%);

  --bg-primary-alpha-20: hsl(from var(--bg-primary) h s l / 20%);
  --bg-secondary-alpha-20: hsl(from var(--bg-secondary) h s l / 20%);
  --text-primary-alpha-20: hsl(from var(--text-primary) h s l / 20%);
  --text-secondary-alpha-20: hsl(from var(--text-secondary) h s l / 20%);
  --accent-alpha-20: hsl(from var(--accent) h s l / 20%);
  --accent-hover-alpha-20: hsl(from var(--accent-hover) h s l / 20%);

  --bg-primary-alpha-80: hsl(from var(--bg-primary) h s l / 80%);
  --bg-secondary-alpha-80: hsl(from var(--bg-secondary) h s l / 80%);
  --text-primary-alpha-80: hsl(from var(--text-primary) h s l / 80%);
  --text-secondary-alpha-80: hsl(from var(--text-secondary) h s l / 80%);
  --accent-alpha-80: hsl(from var(--accent) h s l / 80%);
  --accent-hover-alpha-80: hsl(from var(--accent-hover) h s l / 80%);
}

:root:has(#theme-toggle:checked) {
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --text-primary: #1a1a1a;
  --text-secondary: #4a4a4a;
  --accent: hsl(245 70% 50%);
  --accent-hover: hsl(245 69% 42%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.6s;
}

* {
  margin: 0;
  padding: 0;
  /* Obliga estilo de la tipografía a través de estilos, en lugar de elementos */
  font: inherit;
}

html {
  /* Estilos de agente de usuario para el modo oscuro */
  color-scheme: dark light;
  /* Mejora la puntuación en navegadores compatibles */
  hanging-punctuation: first last;
  /* tamaño de fuente por defecto */
  font-size: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
}

body {
  min-height: 100svh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background-color: var(--bg-primary);
  color: var(--text-primary);

  /* no puedo creer que esté haciendo lo siguiente: */
  text-align: center;
  /* 😝 */

  display: grid;
  grid-template-rows: auto auto 1fr;
}

body > * {
  padding-block: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
}

/* imágenes/videos adaptables */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Encabezados mejorados en navegadores compatibles */
h1,
h2,
h3,
h4,
h5,
h6,
a {
  text-wrap: balance;
  line-height: 1.2;
}

p {
  text-wrap: pretty;
}

/* si NO se prefiere eliminar animaciones */
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    /* Scroll suave */
    scroll-behavior: smooth;
    /* Relleno superior para que el destino no quede oculto por un header sticky  */
    scroll-padding-top: var(--altura-header, 4rem);
  }
}

h1 {
  font-size: clamp(1.25rem, 1.163rem + 0.4348vw, 1.5rem);
  font-weight: 500;
  color: hsl(from var(--accent) h 50% l / 95%);
  margin: 0;
  text-shadow: 1px 1px 2px var(--bg-primary),
  -1px -1px 2px var(--text-primary);
}

.contenedora {
  margin-inline: auto;
  inline-size: min(
    100% - clamp(2rem, 1.6522rem + 1.7391vw, 3rem),
    75rem
    );
}

ul {
  list-style: none;

  /* ancho base de los ejemplos */
  --grid-min-col-size: 12.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--grid-min-col-size)), 1fr));
  gap: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);

  & li {

    & a {
      display: block;
      height: 100%;
      background-color: var(--bg-secondary);
      background-color: hsl(from var(--accent-alpha-20) h s l / 10%);
      border: solid 1px var(--accent-alpha-20);
      border-radius: 1rem;
      color: hsl(from var(--accent) h 75% l / 75%);
      padding: .5rem;

      display: grid;
      place-items: center;
      place-content: center;

      text-align: center;
      text-decoration: none;

      &:is(:hover, :focus-visible) {
        color: var(--accent-hover);
        background-color: var(--bg-secondary-alpha-20);
        outline: solid 2px hsl( from var(--accent-hover) h s l / 35%);
      }

      & span {
        font-weight: 700;
        color: var(--accent);
      }

      &:is(:hover, :focus-visible) span {
        color: var(--accent-hover);
      }

    }

  }
}

footer p {
  color: hsl(from var(--text-secondary) h s l / 50%);
}


header {
  position: sticky;
  top: 1rem;
  z-index: 1;

  background-color: hsl(from var(--accent) h s l / 20%);
  box-shadow: 0 3px 5px hsl(0 0% 0% / 15%);
  backdrop-filter: blur(.35rem);
  text-align: start;

  border: solid 1px var(--accent-alpha-20);
  border-radius: 2rem;
  margin-block: 1rem;
  padding: 1rem 1.5rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  
  @media (width > 32rem) {
    border-radius: 100vmax;
    padding: 1rem 2rem;
  }
}

.theme-toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#theme-toggle {
  display: none;
}

.theme-toggle-label {
  cursor: pointer;
  padding: 0.5rem;
  background-color: var(--bg-primary);
  border-radius: 2rem;
  width: 3.5rem;
  height: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  :root:has(#theme-toggle:checked) & {
    background-color: hsl(from var(--accent) h s 80%);
  }
}

.theme-toggle-label::before {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--accent);
  right: 0.25rem; /* Cambiado a right para modo oscuro */
  transition: transform 0.3s ease;
}

#theme-toggle:checked + .theme-toggle-label::before {
  transform: translateX(-1.5rem); /* Ajustado para mover hacia la izquierda */
}

.sun-icon, .moon-icon {
  width: 1rem;
  height: 1rem;
  fill: var(--text-secondary);
  z-index: 1;
}

/* Ocultamos el sol en modo oscuro y la luna en modo claro */
.sun-icon {
  opacity: 0;
  color: var(--accent);
  fill: orange;
  stroke: var(--accent);
}

:root:has(#theme-toggle:checked) .sun-icon {
  opacity: 1;
}

:root:has(#theme-toggle:checked) .moon-icon {
  opacity: 0;
}


/* Filtro de búsqueda */

.search-container {
  margin: 0 auto;
  text-align: center;
}

#filterInput {
  width: min(100%, 500px);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: solid 1px var(--accent-alpha-20);
  border-radius: 100vw;
  background-color: hsl(from var(--accent-alpha-20) h s l / 1%);
  color: hsl(from var(--accent) h 75% l / 75%);

  ::placeholder {
    color: hsl(from var(--accent) h 75% l / 75%);
  }
}

#filterInput:focus-visible {
  outline: none;
  color: var(--accent-hover);
  background-color: var(--bg-secondary-alpha-20);
  box-shadow: 0 0 0 2px var(--accent-alpha-20, rgba(74, 158, 255, 0.2));
}