*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {  
  --clr-primary: #ee6352;
  --clr-secondary: #d16e8d;
  --clr-accent: #F7F7FF;
  --clr-gradient: linear-gradient(-90deg,
      var(--clr-primary),
      var(--clr-secondary)
    );
  --ff-title: system-ui, sans-serif;
  --ff-body: serif;
  --fw-body: 300;
  --fw-bold: 700;
  --fw-title: 700;
  --fw-number: 700;

  --lh-title: 1.1;
  --lh-body: 1.6;
}

body {
  margin: 0;
  min-height: 100dvh;
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
  font-size: 1.25rem;
  line-height: var(--lh-body);
}

section {
  /* valor NO lógico para que siempre se mantenga el ancho de la sección */
  margin-bottom: 10rem;
}

.title {
  padding: .5em 1em 1em 1em;
  margin: 0 0 5rem 0;
  background: var(--clr-gradient);
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
  color: white;
  font-size: calc(1rem + 3vw);
  line-height: var(--lh-title);
  font-family: var(--ff-title);
  font-weight: var(--fw-title);
  text-align: center;
  text-shadow: 3px 5px 10px rgba(0,0,0, .2);
  text-wrap: balance;
}


h2 {
  border-inline-start: 5px solid red;
  padding-inline-start: 1rem;
  font-family: var(--ff-title);
  line-height: var(--lh-title);
  position: relative;
  text-wrap: balance;
}

.content {
  width: min(100% - 4rem, 60ch);
  margin: 0 auto;
  padding-block-end: 2em;
}

#example3 {
  writing-mode: vertical-rl;
  max-inline-size: 35vh;
}

#example1,
#example2 {
  writing-mode: horizontal-tb;
  /* padding-block-end: 1em; */
}




h2::after {
  content: '';
  position: absolute;
  background: var(--clr-primary);
  opacity: .4;
  block-size: 100%;
  aspect-ratio: 1;
  inset-inline-end: 0;
  inset-block-start: 0;
}


a {
  color: var(--clr-primary);
  font-weight: var(--fw-bold);
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: var(--clr-secondary);
    text-decoration: underline;
    outline: none;
  }
}