@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-0: hsl(88 0% 0%);
  --color-1: hsl(88 100% 60%);
  --color-2: hsl(88 0% 100%);
}

body {
  font-family: 'Poppins', sans-serif;

  min-height: 100vh;
  background: var(--color-0);

  display: grid;
  place-items: center;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  text-align: center;
  
  padding-inline: 1rem;
}

h1 span {
  color: var(--color-1);
  display: inline-flex;
}

h1 span:nth-child(even) {
  color: var(--color-2);
  border-bottom: 4px solid var(--color-1);

  overflow: hidden;
  letter-spacing: -1em;

  transition: .5s ease-in-out;

}

h1:hover span:nth-child(even) {
  letter-spacing: 0;
}

h1:hover span:nth-child(2) {
  transition-delay: 0;
}

h1:hover span:nth-child(4) {
  transition-delay: .3s;
}

h1:hover span:nth-child(6) {
  transition-delay: .6s;
}

h1:hover span:nth-child(8) {
  transition-delay: .9s;
}