input {
  outline: 3px solid hsl(203, 30%, 26%);
}

input:focus:valid,
input:valid:not(:placeholder-shown) {
  outline-color: var(--clr-success);
}

input:invalid:not(:placeholder-shown) {
  outline-color: var(--clr-error);
}

input:focus:invalid:not(:placeholder-shown) {
  outline-color: var(--clr-warning);
}

.hint {
  color: var(--clr-warning);
}
.error {
  color: var(--clr-error);
}

.hint,
.error {
  display: none;
}

/* mostrar sugerencia si el usuario está en el input
   pero es valor inválido */
input:focus:invalid:not(:placeholder-shown) ~ .hint {
  display: block;
}

/* mostrar error después de que el usuario deja el input
   si es valor inválido */

input:not(:focus):invalid:not(:placeholder-shown) ~ .error {
  display: block;
  /* animation: form-error 250ms 3; */
}

@keyframes form-error {
  25% {
    translate: -5px;
  }
  75% {
    translate: 5px;
  }
}


/* agregar animación cuando hay un error */

@layer general-styling {
  :root {
    --clr-success: hsl(143, 100%, 26%);
    --clr-warning: hsl(43, 100%, 66%);
    --clr-error: hsl(348, 55%, 49%);
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  form {
    display: grid;
    gap: 1rem;
  }

  .form-group {
    display: grid;
    gap: 0.25rem;
  }

  html {
    font-size: clamp(1.5rem, 1.3261rem + 0.8696vw, 2rem);
    font-family: system-ui;
    color-scheme: dark;
  }

  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    gap: 1rem;
  }

  body::before {
    --size: 40px;
    --line: hsl(203 30% 35% / 15%);
    content: '';
    height: 100dvh;
    width: 100vw;
    position: fixed;
    mask: linear-gradient(0deg, transparent 10%, white);
    background-image: 
      radial-gradient(
        var(--line) 4px,
        transparent 4px
      ),
      radial-gradient(
        var(--line) 4px,
        transparent 4px
      );
    background-size: var(--size) var(--size);
    background-position: 0 0, calc(var(--size) / 2) calc(var(--size) / 2);

    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }

  body > * {
    width: min(100% - 4rem, 15rem);
  }

  label {
    font-size: 0.75rem;
  }

  input,
  button {
    font: inherit;
    
    @media (prefers-reduced-motion: no-preference) {
      transition: all .5s;
    }
  }

  input {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 0;
    background-color: hsl(201, 31%, 11%);
    min-width: 5rem;
  }

  button {
    background-color: hsl(201 31% 11%);
    border: none;
    border-radius: 0.25rem;
    outline: 3px solid hsl(203 30% 26%);

    cursor: pointer;

    margin-block-start: 1rem;
    padding: 0.5rem 1rem;

    :invalid & {
      opacity: 0.2;
      pointer-events: none;
    }

    &:focus-visible,
    &:hover {
      outline-color: hsl(203 30% 45%);
    }
  }

  h1 {
    font-size: 1.5rem;
    line-height: 1.1;
    text-align: center;
    text-wrap: balance;
  }

  p {
    font-size: .6rem;
    text-align: center;

    span {
      display: block;
      margin-block-start: .5rem;
      line-height: 2.5;

      code {
        display: inline-block;
        color: hsl(203 30% 15%);
        background-color: hsl(203 15% 65%);
        border-radius: 100vmax;
        font-weight: 700;
        padding: 0 0.5rem;
      }
    }
  }
}
