@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

h1 {
  color: hsl(0 0% 80%);
  text-shadow: 0 -3px 1px hsl(0 0% 100% / .8),
               0 -5px 3px hsl(0 0% 100% / .5);

  font-size: clamp(4rem, 8vw, 8rem);
  line-height: 1;
  text-align: center;
  text-wrap: balance;

  padding-inline: 1em;

  mix-blend-mode: screen;

  z-index: 1;
}

.banner {
  position: relative;
  height: 75vh;
  background: url(bg.jpg);
  background-size: cover;
  background-position: bottom center;

  display: grid;
  place-content: center;
}

.banner .nubes {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.banner .nubes img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: nubes calc(8s * var(--i)) linear infinite;
}

@keyframes nubes {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

section {
  padding: 4rem 1rem;
  margin-inline: auto;
  max-inline-size: 75ch;

}

section h2 {
  font-size: 2.5em;
  margin-block-end: 1.25rem;
  text-wrap: balance;
}

section p {
  margin-block-end: 1em;
  text-wrap: pretty;
}