@media (prefers-reduced-motion: no-preference) {
  /* 
  2025
  Permite transiciones visuales fluidas entre distintas páginas de un sitio web, lo que mejora la experiencia del usuario al hacer que la navegación sea más fluida y atractiva.
  Conviene colocar las transiciones dentro de la condición de si el usuario NO prefiere reducir el movimiento por alguna dificultad visual.
  */
  @view-transition {
    navigation: auto;
  }
  /*::view-transition-group(root) {
      animation-duration: 1s; 
  }*/

  /* scroll suave */
  :root { scroll-behavior: smooth; }
}

/* hace que dimensionar sea más simple */
*,
*::before,
*::after {
  box-sizing: border-box;
/* 
se propone tb:

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit;}

Esto dará el mismo resultado y facilitará el cambio de la propiedad `box-sizing` en plugins u otros componentes que utilicen un comportamiento diferente.
*/
}

/* Elimina espaciado predeterminado */
/* Obliga que estilo de la tipografía se defina a través de estilos, en lugar de elementos */
* {
  margin: 0; /* tal vez */
  padding: 0; /* tal vez */
  font: inherit; /* tal vez */
}

:root {
  /* Estilos de agente de usuario para el modo claro / oscuro */
  color-scheme: light dark;

  /* Mejora la puntuación en navegadores compatibles */
  hanging-punctuation: first last;
  
  /* Evitar el aumento del tamaño de fuente en celulares IOS */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  /* interlineado ampliado (aquí en lugar de en "body" para mayor control en diferentes situaciones) */
  line-height: 1.6;
  
  /* Relleno superior para que el destino de un link no quede oculto por un header sticky  */
  scroll-padding-top: var(--altura-header, 4rem);

  /* Permite animar, por ejemplo, a "height: auto;" o desde "display: none;" o  */
  @supports (interpolate-size: allow-keywords) {
    interpolate-size: allow-keywords;
  }
}

/* altura mínima: ventana del navegador */
body {
  min-block-size: 100svh;
}

/* imágenes/videos adaptables */
img,
picture,
svg,
video {
  display: block;
  max-inline-size: 100%;
}

/* Encabezados mejorados en navegadores compatibles */
h1,
h2,
h3,
h4,
button,
input,
label,
optgroup,
select,
textarea {
  text-wrap: balance;
  line-height: 1.1;
}

/* Mejora la legibilidad con max-width en párrafos y listas */
/* Evita huérfanos en navegadores compatibles */
p,
li,
figcaption {
  max-inline-size: var(--p-ancho-maximo, 75ch);
  text-wrap: pretty;
}

/* transforma en "contenedores" cuyas medidas
puedes ser evaluadas para decidir
disposición de elementos contenidos
usando "@container" */
header,
footer,
main,
section,
article {
  container-type: inline-size;
}

/*  botones e inputs de formularios heredan tipografía */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}




/* 
-----
-----
-----
-----
*/


/* no es reset, es solo para mejorar apariencia del html */
body {
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  > *,
  section {
    padding: 2rem;
  }
}